In [ ]:
# Problem1--WAP to find the common elements of both lists-------2nd approach

List_1=["Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"]
List_2=["Ali","Mukesh","Mahesh","Jacob","Sai","Saritha"]
a_set=set(List_1)                      #Converting list into a set and assigning variable a_set to it
b_set=set(List_2)                      #Converting list into a set and assigning variable b_set to it
if (a_set & b_set):                    #Verifying the condition that both values should be there in both the lists
        print(a_set & b_set)           # printing the values of the set a and b
else:
        print("No common elements")

{'Mahesh', 'Saritha', 'Jacob', 'Ali'}

In [ ]:
# Problem1-  WAP to find the common elements of both lists(In-built function)---1st approach

List_1=["Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"]
List_2=["Ali","Mukesh","Mahesh","Jacob","Sai","Saritha"]
common_list=list(set(List_1).intersection(List_2))
print(common_list)

['Mahesh', 'Saritha', 'Jacob', 'Ali']

In [ ]:
#Problem-2---Separates all names and convert them into list

String_name="Ramesh Suresh Mohit"   #Assigning the variable String_name to the name
Values=String_name.split()          #split will separate the names and convert them into a list which is storing into variable Values
print(Values)                       #print the variable Values after using split function

['Ramesh', 'Suresh', 'Mohit']

In [ ]:
type(Values) # check whether it has been converted to List or not

list

In [ ]:
#adding age to the names-----Two ways-----By creating dictionary
set_Names=set(Values)  #Converting list of names to set and saving it into the variable set_names
int_age=[25,22,26]     #taking the values of age from question and assigning variable int_age to it
set_Age=set(int_age)   #Converting list of age to set and saving it into the variable set_Age
diction={}             #Using Zip to convert Names and age to a dictionary where age is added to the name and it is saved as a key value pair with the variable name diction
for i,j in zip(set_Names,set_Age):
  diction[i]=j
diction                #printing diction after Zip function

{'Suresh': 25, 'Ramesh': 26, 'Mohit': 22}

In [ ]:
#Another approach to create a list with names and insert the ages:
a=[]                                                       #Taking empty list
for i in range(3):
  x=input("Enter the value:")                              #Entering all the names in to the list a
  a.append(x)                                              #Appending all the names given in input to a 
print("Original List is:",a)                               #Printing the list with the names
a.insert(1,25)                                             # inserting the value with the index of the list[index,value]
a.insert(3,26)
a.insert(5,22)
print(a)                                                   #printing the list after inserting the ages alongside names

Enter the value:Suresh
Enter the value:Ramesh
Enter the value:Mohit
Original List is: ['Suresh', 'Ramesh', 'Mohit']
['Suresh', 25, 'Ramesh', 26, 'Mohit', 22]

In [ ]:
#Problem-3--WAP to find the mean value of all three tests and print the highest mean value
# Approached the question in 2 ways--------First finding the mean subjectwise ad second finding the mean studentwise

#Finding the mean Studentwise
Python=[25,26,29,28]                                         #Taking the values of subject and 
Statistics=[23,21,19,25]
SQL=[29,27,28,25]
Names=["Sam","Jacy","Tom","Steve"]
Average_Sam=(Python[0]+Statistics[0]+SQL[0])/3               #Calculating Studentwise mean using indexing in the list
Average_Jacy=(Python[1]+Statistics[1]+SQL[1])/3
Average_Tom=(Python[2]+Statistics[2]+SQL[2])/3
Average_Steve=(Python[3]+Statistics[3]+SQL[3])/3
print("Average of the Sam =", round(Average_Sam, 2))
print("Average of the Jacy =", round(Average_Jacy, 2))
print("Average of the Tom =", round(Average_Tom, 2))
print("Average of the Steve =", round(Average_Steve, 2))
print("Highest mean value =", round(Average_Steve, 2))

Average of the Sam = 25.67
Average of the Jacy = 24.67
Average of the Tom = 25.33
Average of the Steve = 26.0
Highest mean value = 26.0

In [ ]:
#Problem-3--WAP to find the mean value of all three tests and print the highest mean value
# Approached the question in 2 ways--------First finding the mean subjectwise ad second finding the mean studentwise

#Finding the mean subjectwise
Python=[25,26,29,28]
Statistics=[23,21,19,25]
SQL=[29,27,28,25]
Names=["Sam","Jacy","Tom","Steve"]
Python_average =(Python[0]+ Python[1]+ Python[2]+ Python[3])/4                  #Calculating mean subjectwise using indexing of the list
Statistics_average =(Statistics[0]+ Statistics[1]+ Statistics[2]+ Statistics[3])/4
SQL_average =(SQL[0]+ SQL[1]+ SQL[2]+ SQL[3])/4
print("Average of the Python =", round(Python_average, 2))
print("Average of the Statistics =", round(Statistics_average, 2))
print("Average of the SQL=", round(SQL_average, 2))
print("Highest mean value=", round(SQL_average, 2))

Average of the Python = 27.0
Average of the Statistics = 22.0
Average of the SQL= 27.25
Highest mean value= 27.25

In [ ]:
#Finding the mean subjectwise

test_list1=[25,26,29,28]
test_list2=[23,21,19,25]
test_list3=[29,27,28,25]
Average_1= sum(test_list1) / len(test_list1)                            #Calculating mean subjectwise using sum function and dividing the length of the list
Average_2= sum(test_list2) / len(test_list2)
Average_3= sum(test_list3) / len(test_list3)

print("Average of the list =", round(Average_1, 2))
print("Average of the list =", round(Average_2, 2))
print("Average of the list =", round(Average_3, 2))

Average of the list = 27.0
Average of the list = 22.0
Average of the list = 27.25

In [ ]:
#Who got Highest marks in python-----------Approach 1

Python_marks=set(Python)                   #Converting pyhton_marks to set
Names_Python=set(Names)                    #Converting names to set
diction={}
for i,j in zip(Python_marks,Names_Python):    # zipping marks and name as key:value pairs
  diction[i]=j
print(diction)
all_values = diction.values()                 # storing all values i.e the names in all_values variable
max_value = max(all_values)                   #Finding the maximum of all values with max function which retuns me the name Tom as highest value
print(max_value)

{25: 'Steve', 26: 'Jacy', 28: 'Sam', 29: 'Tom'}
Tom

In [ ]:
#Who got Highest marks in python-----------Approach 2
max_key = None                       #Initially taking the key:value pair as none
max_val = None

for key, val in diction.items():      #Traversing through all the items in the dictionary of key :value pairs

    if max_val is None or val > max_val:   #Finding the max_value by traversing through the list
        max_val = val                      #Storing the value in variable val
        max_key = key                      #Storing the key in variable key


print(max_key, max_val)

29 Tom

In [ ]:
#Problem--4--WAP to find cost of each medicine,cost of total medicine and refund given to the patient

Paracetamol_cost=35  #Cost of 1 strip
Azithromycin_cost=49  # Cost of 1 strip
VitaminC_cost=33      # Cost of 1 strip
Money=2000   #Total money given by patient
Total_cost_paracetamol=2*Paracetamol_cost   # 2 strips of paracetamol
Total_cost_azithromycin=3*Azithromycin_cost  # 3 strips of azithromycin
Total_cost_vitc=5*VitaminC_cost              #5 strips of VitC
Total_cost_all_medicine=Total_cost_paracetamol+Total_cost_azithromycin+Total_cost_vitc    #Total cost of all medicines
Refund=Money-Total_cost_all_medicine      #Refund is substracting Money given by patient - Total cost of all medicines
print("Total cost of Paracetamol:",Total_cost_paracetamol)
print("Total cost of  Azithromycin:",Total_cost_azithromycin)
print("Total cost of VitC:",Total_cost_vitc)
print("Total cost of each medicine:",Total_cost_all_medicine)
print("Money refunded:",Refund)

Total cost of Paracetamol: 70
Total cost of  Azithromycin: 147
Total cost of VitC: 165
Total cost of each medicine: 382
Money refunded: 1618

In [ ]:
#Problem-5--Accept a sentence as input and find the number of vowels in itval=input("Enter a sentence:")
vowel=0 
val=input("Enter the value:")                               #Counter of vowel is set to 0 and input is taken from user and stored in variable val
for i in range(0,len(val)):            #for loop which starts from 0 and traverses through the length of val
  if(val[i]=="a"or val[i]=="e" or val[i]=="i" or val[i]=="o"or val[i]=="u" or val[i]=="A" or val[i]=="E" or val[i]=="I" or val[i]=="O" or val[i]=="U"):
      vowel+=1
print("Number of vowels are:",vowel)

Enter the value:I love python
Number of vowels are: 4

In [ ]:
#Problem-6-- WAP to find candidates are eligible for voting or not
x=18                                                              #value of x is set to 18
val=int(input("Enter age:"))                                      #Taking input from user about the age
y=x-val
if (val>=18):                                                      #y is a variable where i am substracting value of x i.e 18 and the user input
  print("Congrats!You are eligible")                               # running a loop to check whether the candidate is 18 or not
elif(val<18):
    print("Return after",y,"years")

Enter age:7
Return after 11 years